@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'Labil Grotesk Basic';
  src: url('/LabilGroteskBasic-Black.woff2') format('woff2'),
      url('/LabilGroteskBasic-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Labil Grotesk Basic';
  src: url('/LabilGroteskBasic-Light.woff2') format('woff2'),
      url('/LabilGroteskBasic-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Labil Grotesk Basic';
  src: url('/LabilGroteskBasic-Regular.woff2') format('woff2'),
      url('/LabilGroteskBasic-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  padding-bottom:3rem;
  max-width: 84rem;
  margin: auto;
}

p, h1, h2, h3 {
  color: white;
  font-family: 'Labil Grotesk Basic';
  font-weight: 500;
  font-style:normal;
}

body {
  background-color: #071f18;
  // Gradient background
  // background: radial-gradient(ellipse at left, rgba(0, 215, 0, 0.14), #071F18), 
  //             radial-gradient(ellipse at left, rgba(0, 108, 104, 0.5), #071F18);
  background: radial-gradient(circle at center left, rgba(0,215,0,0.1) 0%, rgba(0,215,0,0.1) 15%, rgba(0,108,104,0.15) 60%, rgba(7,31,24,1) 100%);
}

header {
  max-width: 48rem;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4rem;
  padding-top: 8rem; // offset absolute position nav
}

// if we add more sections to the site, we'll need to change this to class-based
article {
  max-width: 48rem;
  width: 100%;
  margin:6rem auto;
}

nav {
  width: 100%;
  background: linear-gradient(to bottom, rgba(7, 24, 18, 0.5), rgba(7, 24, 18, 0.2));
  padding:0.5rem 2rem;
  position:absolute;
  width:100%;
  left:0;
  top:0;
}

nav .nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width:84rem;
  margin:0 auto;
  flex-wrap:wrap;
}

nav .nav-links,
nav .nav-actions {
  display: flex;
  align-items:center;
  gap:1rem;
}

nav .nav-actions {
  overflow-x: auto;
}

a.nav {
  font-family: 'Labil Grotesk Basic', sans-serif;
  font-weight:300;

  padding: .75rem;
  color: #36ECAC;
  font-size: 1.4em;
  text-decoration: none;
}

.link {
  color: #36ECAC;
  text-decoration: none;
}

.outlined {
  font-family: 'Space Mono', monospace;
  background-color: #236357;
  border: none;
  padding: .6rem;
  border-radius: 5px;
  color: #36ECAC;
  text-transform: uppercase;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  font-size: 1.75em;
  text-decoration: none;
}

.outlined.contribute {
  margin-left:auto;
  margin-right:auto;
  background: #173630;
  font-size:1.5rem;
  padding:0.7rem 1.5rem;
  transition:0.2s all cubic-bezier(0.165, 0.84, 0.44, 1);
}

.outlined.contribute:hover {
  opacity:0.8;
}

.masthead {
  font-size: 6rem;
  line-height:90%;
  text-align: center;
  font-weight: bolder;
  color: #36ECAC;
  letter-spacing:-1px;
  margin-top:5rem;
  margin-bottom: 1rem;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 1rem;
  p {
    font-size: 4.75rem;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(255,255,255,0.3);
    transition: transform 0.25s;
  }
}

.contribute {
  max-width: 24rem;
  width: 100%;
  font-size: 2rem;
}

.manifesto {
  font-size: 1.5rem;
  line-height: 1.75;
}

.center {
  text-align: center;
}

.discord {
  font-size: 1.25rem;
}

@media only screen and (max-width: 36rem) {
  header {
    padding-right:1.5rem;
    padding-left:1.5rem;
  }

  .masthead {
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
    color: #36ECAC;
    margin-bottom: 2rem;
  }

  .manifesto {
    font-size: 1.25rem;
    line-height: 1.75;
  }

  .contribute {
    max-width: 15rem;
    width: 100%;
    font-size: 1.5rem;
  }

  .progress {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
    p {
      font-size: 2rem;
      font-weight: bold;
      text-shadow: 0 0 3px white;
      transition: transform 0.25s;
    }
  }

  .content,
  .progress-wrapper {
    padding:0 1.5rem;
  }

  article {
    margin:0 auto;
  }

  nav {
    padding:1rem;
  }

  nav .nav-inner {
    gap:1rem;
  }

  nav .nav-links {
    gap:0rem;
    flex-grow:1;
    justify-items:flex-end;
  }

  nav .nav-links *:first-child {
    flex-grow:1;
  }
  
  nav .nav-actions {
    flex-grow:1;
    justify-content:space-between;
  }

  a.nav {
    font-family: 'Space Mono', monospace;
    padding: .75rem;
    color: #36ECAC;
    text-transform: uppercase;
    align-items: center;
    gap: .5rem;
    font-size: 1.25em;
    text-decoration: none;
  }
}


.subheading {
  font-size: 2rem;
  text-align: center;
  font-weight: bolder;
  color: #36ECAC;
  margin-bottom: 2rem;
}

.headline {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.faq-response {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

ol, ul {
  padding-left: 2rem;
  color: white;
}

.nftImage {
  border-radius: 5px;
}

// style for gradients on background

.bg-gradient1-wrapper,
.bg-gradient2-wrapper {
  overflow:hidden;
} .bg-gradient1-wrapper > span {
  z-index:-1 !important;
  position:absolute !important;
  top:100vh;
  transform:translateY(-50%) translateX(-50%);
} .bg-gradient2-wrapper > span {
  z-index:-1 !important;
  position:absolute !important;
  top:25vh;
  transform:translateX(-30%) scale(1.3);
  overflow:hidden;
}